#box {
width: 200px;
}

#eg {
        background-color: whitesmoke;
        width: 100%;
        text-align: center;
        font-family: "times new roman";
        font-weight: 300;
        border:1px solid gray;

}


.btn-primary {
    color: #fff;
    background-color: #1177d1;
    border-color: #1177d1;
    width: 40%;
}

#di {
    width: 40%;
    border:1px solid gray;
    text-align: center;
}

table, td  {
    border:1px solid lightgray;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    white-space:nowrap;
    margin-right: auto;
    margin-left: auto;
}

td {
    width: 100px;
}

.mod {
    width: 100px;
    height: 33px;
    color: white;
    background-color: royalblue;
}

.ste {
    width: 100px;
    height: 33px;
    color: white;
    background-color: firebrick;
}

h2 {
text-align:center;
}