{% extends "layout.html" %}
{% block content %}
<body>
<div>
    Student data
    <br> <br>
</div>
{% if student %}
<table class="tb">
    <tr>
        <td>
            <b>
                Surname
            </b>
        </td>
        <td>
            {{ student['lname'] }}
        </td>
    </tr>
    <tr>
        <td>
            <b>
                First Name
            </b>
        </td>
        <td>
            {{ student['fname'] }}
        </td>
    </tr>
    <tr>
        <td>
            <b>
                Class
            </b>
        </td>
        <td>
            {{ student['class'] }}
        </td>
    </tr>
</table>
{% else %}
<div id="no_stud">
    This student does not exist.
</div>
{% endif %}
<br>
<div>
    <a href="/students/">List of Students</a>
</div>
</body>
{% endblock content %}