{% extends "layout.html" %}
{% block content %}


<!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <h3>Darren James Smart</h3>
      <p class="w3-opacity">CEO & Founder</p>
      <p>Possibly the greatest mind this generation has ever seen. Breaking barriers for cleaner code.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <h3>Jane Doe</h3>
      <p class="w3-opacity">Senior Gas Consultant</p>
      <p>A woman so feared for her knowledge of gas, it has been said she invented it. 10/10</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <h3>Charles White</h3>
      <p class="w3-opacity">Water Expert</p>
      <p>Once a lawyer turned expert water drinker, Charles White is your go-to moisture expert.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div><div class="w3-col l3 m6 w3-margin-bottom">
      <h3>Random Guy</h3>
      <p class="w3-opacity">A Random Guy</p>
      <p>Someone we found on the side of the road and abducted to force into our company.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>

  </div>

    <p>
      Welcome to our site. We are a family business from Cluj-Napoca with the vision of powering our local economy!
      Established in 2004, we started our business with the goal of being the leader in Natural Gas and Water services!
      There’s more to us than gas and electricity...We’re empowering communities to use energy efficiently, supporting households in need and helping to build skills for a bright future.
    </p>
    <p>
      <b>
        Disclaimer: We are an ISO-9001 certified company.
      </b>
    </p>
  </div>
</div>
{% endblock content %}